<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>

<body>

    <h1>Panel FrutiFantastico</h1>

    <h2>Clientes</h2>

    {% for cliente in clientes %}

        <p>
            {{ cliente.nombre }}
            -
            {{ cliente.ciudad }}
        </p>

    {% endfor %}

    <h2>Productos</h2>

    {% for producto in productos %}

        <p>
            {{ producto.nombre }}
            -
            {{ producto.categoria }}
            -
            Stock: {{ producto.stock }}
        </p>

    {% endfor %}

</body>

</html>